@*
 * This component is used to pick the series that will be displayed on the home page.
 *@

@using NascarCalendar.Services
@inject ISeriesService SeriesService

<div Class="container">
    <div Class="series-name">
        @GetSeriesName(SeriesIdentifier)
    </div>
    <SeriesPick  ThisSeriesId="series_1" SelectedSeriesId="@SeriesIdentifier" SelectedYear="@Year"/>
    <SeriesPick  ThisSeriesId="series_2" SelectedSeriesId="@SeriesIdentifier" SelectedYear="@Year"/>
    <SeriesPick  ThisSeriesId="series_3" SelectedSeriesId="@SeriesIdentifier" SelectedYear="@Year"/>
</div>

<div Class="line"/>

@code {
    [Parameter, EditorRequired]
    public string SeriesIdentifier { get; set; } = "";

    [Parameter, EditorRequired]
    public int Year { get; set; } = 0;

    private string GetSeriesName(string seriesIdentifier)
    {
        return SeriesService.GetSeriesName(seriesIdentifier, Year);
    }
}